
html,body {
  background-image: url(./assets/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time {
  text-align: center;
  clear: right;
  width: auto;
  font-size: 1.5em;
}

.content > * {
  padding: 1em;
}

.paper-content {
  height: 400px;
  width: 100%;
  opacity: 90%;
  font-size: 1.3vw;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .paper-content {
    font-size: 2.5vw;
    height: 100%;
  }
}
