html,
body {
    background-image: url(assets/blue2.jpeg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'FinkHeavy';
    src: url('assets/FinkHeavy.woff2') format('woff2'),
        url('assets/FinkHeavy.woff') format('woff');
}

@font-face {
    font-family: dialog;
    src: url('assets/dialog.otf');
    font-weight: lighter;
}

.time {
    text-align: center;
    width: auto;
}

.content > * {
    padding: 1rem;
}

.paper-content {
    height: 400px;
    width: 100%;
    font-size: 1.25vw;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .paper-content {
        font-size: 2.5vw;
        height: fit-content;
    }
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
span.cell {
    width: 16%;
    font-family: dialog;
}

.settings {
    background-image: url(assets/dialogue2.png);
    background-size: cover;
}
